*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  scroll-behavior: smooth;
}
section {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(120deg, #70a4f7 0%, #c2e9fb 100%);
}
/* --- nav bar --- */
.nav-container {
  width: 100%;
}

#navbar-logo {
  color: white;
  padding-top: .5%;
  margin-left: 20px;
}

#navbar-logo {
  cursor: pointer;
}

.logo-2{
  transform: translateX(2%);
}
.nav-menu {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 width: 100%;
 list-style: none;
 position: fixed;
 top: 0;
 z-index: 5;
}

.nav-menu, li {
  list-style: none;
  margin: 0 20px;
  transition: 0.5%;
}

.nav-menu li .nav-links {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: 0.5s;
}

.nav-links {
  color: white;
  text-decoration: none;
  margin: 30px;
  padding: 10%;
}

.nav-menu:hover li .nav-links {
  transform: scale(1.5);
  opacity: 0.2;
  filter:blur(1px);
}

.nav-menu li .nav-links:hover {
  transform: scale(2);
  opacity: 1;
  filter:blur(0);
}

/* --- About --- */

.about-section {
  margin-top: 10%
}

.about {
  margin: 1%;
  padding: 1%;
}
.picture {
  height: 400px;
  width: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  transform: translateY(-25%);
}
.about-words{
  transform: translateY(-25%);
}
.bio {
  text-align: center;
  color: white;
  font-size: 40px;
  width: 100%;
 
}

.name {
  text-align: center;
  font-size: 20px;
  color: white;
  
}

.description {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 70px;
  margin: 40px;
  padding: 50px;
}

/* Contact */
.contact-desc{
  text-align: center;
  transform: translateY(-50px);
}
.contact-list {
  text-align: center;
  transition: .5s;
  
}
.contact-list:hover .contact-list-item {
  transform: scale(1.05);
  opacity: 0.2;
  filter:blur(1px);
  transition: .5s;
}

.contact-list .contact-list-item:hover {
  transform: scale(1.10);
  opacity: 1;
  filter: blur(0);
  transition: .5s;
}

.contact-icon {
  height: 5%;
  width: 5%;
  padding: 10px;
}

.contact-text {
  justify-content: center;
  color: #fff;

}

#text-hidden {
  display: none;
}

.contact-list-item:hover #text-hidden {
  display: block;
}

.contact-list-item {
  transition: 0.5s;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: #fff;
}

/* mouse */

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
  transform: translateY(-60px);
}

.scroll_arrow
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.one
{
  margin-top: 1px;
}

.one, .two, .three
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;  
}

.one
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

.two
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.three
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;  
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}
/* Mouse scroll stuff ^ */

/* --- Slider --- */

.slider{
  height: 100%;
  width: 100%;
}
.slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  background-size: cover;
  transform: translateX(100%);
}
.slide.active{
  transform: translateX(0%);
  z-index: 3;
}
.slide.top {
  transition: .3s ease transform;
  z-index: 3;
}
.slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: -1;
}
.slide-1{
  background-image: url(./imgs/pokedex.png);
}
.slide-2{
  background-image: url(./imgs/MovieAPI.png);
}
.slide-3{
  background-image: url(./imgs/TempMyFlix.png);
}
.slide-4{
  background-image: url(./imgs/MeetApp.png);
}
/* --- Buttons --- */

.buttons{
  position: absolute;
  z-index: 5;
  bottom: 50%;
  right: 50%;
  height: auto;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  font-size: 45px;
}
.buttons div{
  cursor: pointer;
  pointer-events: all;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.24);
}
.buttons div:hover{
  background-color: white;
}

/* --- dots --- */
.dots{
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.dots .dot{
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 10px;
  margin: 10px;
  transition: 0.3s ease width;
  cursor: pointer;
}
.dots .dot.active{
  background-color: white;
  width: 40px;
}
@media (max-width: 768px) {
  .dots {
    left: 0;
    transform: translateX(0)
  }
}
/* mouse animation */

@-webkit-keyframes mouse-wheel{
  0% {
   opacity: 1;
   -webkit-transform: translateY(0);
   -ms-transform: translateY(0);
   transform: translateY(0);
 }

 100% {
   opacity: 0;
   -webkit-transform: translateY(6px);
   -ms-transform: translateY(6px);
   transform: translateY(6px);
 }
}
@-moz-keyframes mouse-wheel {
 0% { top: 1px; }
 25% { top: 2px; }
 50% { top: 3px;}
 75% { top: 2px;}
 100% { top: 1px;}
}
@-o-keyframes mouse-wheel {
  0% { top: 1px; }
 25% { top: 2px; }
 50% { top: 3px;}
 75% { top: 2px;}
 100% { top: 1px;}
}
@keyframes mouse-wheel {
  0% { top: 1px; }
 25% { top: 2px; }
 50% { top: 3px;}
 75% { top: 2px;}
 100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {
 0%   { opacity: 0;}
 50%  { opacity: .5;}
 100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {
 0%   { opacity: 0; }
 50%  { opacity: .5; }
 100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {
 0%   { opacity: 0; }
 50%  { opacity: .5; }
 100% { opacity: 1; }
}
@keyframes mouse-scroll {
 0%   { opacity: 0; }
 50%  { opacity: .5; }
 100% { opacity: 1; }
}

/* Mouse animation ^ */

.flaticon {
  font-family: 'Montserrat';
  font-size: 20px;
  color: white;
  text-decoration: none;
}